{{ define "main" }}

<main>
  <div>
    <h1>{{ .Title }}</h1>
  </div>
</main>

<Section className="section narrow">
          <ul>
        <!-- Renders the li.html content view for each content/posts/*.md -->
        {{ range .Pages }}
            <li>
              <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
              {{ .Description | markdownify }}
            </li>
        {{ end }}
        </ul>

  <div class="articles-paginator">
    
  </div>
</Section>

{{ end }}
